<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="../images/404err.png" alt="" class="img-fluid" title="Error 404" />
                        </figure>
                        <p>Welcome to Weather webpage</p>
                        <h1>
                            {{errorMsg}}
                        </h1>
                        <a href="/" target="..rahul"><button>Go back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->

    <footer>
        <p>Created with ❤️ by Rahul Singh</p>
    </footer>
</body>

</html>